@import '../../../../shared/styles/variables.scss';

.items-list__edit-form{
  display: inline-block;
  input{
    border: solid 1px $main-color-dark;
  }
  .field-wrapper{
   position: relative;
  }
  .form__error{
    font-size: $font-size-smaller;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    /* z-index: 1000; */
    // transform: translate(0px, 27px);
    top: 25px;
    left: 2px;

    color: rgb(200, 0, 0);
  }
}
.react-datepicker__tab-loop{
  display: inline-block;
}