@import "./shared/styles/variables.scss";
@import "./shared/styles/fonts.scss";

body {
  font-family: 'Open Sans';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  border:none;
  background-color: transparent;
  cursor: pointer;
}