@import "../../shared/styles/variables.scss";
.order-form{
  overflow:auto;


  &__radio-group div{
    box-sizing: content-box;
  }

  &__change-link{
    display: block;
    margin-top: 1rem;
    width: fit-content;
    float: right;

    button{
      padding: 0.2rem;
    }
  }
  
}
