@import '../../shared/styles/variables.scss';

.adminPage{
  align-self: flex-start;
  width: 780px;
  // min-width: 900px;

}

.items-list__edit-form{
  input{
    border: solid 1px $main-color-dark;
  }
  .field-wrapper{
   position: relative;
  }
  .field__error{
    font-size: $font-size-smaller;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 2px;
    color: $font-color-error;
  }

}

.adminPage__itemsBlock{
  display: flex;
  height: calc(100vh - 280px);
  min-height: 300px;

}



.adminPage__itemsBlock .react-datepicker{
  display: flex;
}
.react-datepicker__tab-loop{
  display: inline-block;
}
.react-datepicker__error{
  background-color: $font-color-error;
}

