@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/ui.scss';

.items-list__item-element{

  button{
    @include item-list-paddings;
    // margin: 0 0.1rem;
  }

}

.items-list__item-field{
  @include item-list-paddings;  
  display: inline-block;
  position: relative;
  font-size: 0.8rem;

  label{
    display: block;
    height: 0px;
    color: $font-color-middle;
    font-size: 0.7rem;
    font-weight: bold;    
    position: relative;
    top: 1px;
    left: 2px;
  }
}
.items-list__item-buttons{
  display: inline-block;
}