@import "../../shared/styles/variables.scss";
.btn-sm{
  font-family: $font;
  border: solid 1px $main-color-dark;
  padding: 1rem;
  background-color: $button-color-main;

  &:active{
    background-color: $button-color-pressed;
    box-shadow: -0px 0px 1px 2px $main-color-dark inset;
  }

}
.btn-no-paddings{
  padding: 0;
}