.modal-confirm{
  &__header{
    border-bottom: solid gray 1px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px;
    margin-bottom: 10px;
  }
}
  