.authPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  &__form{
    position: relative;
    .field-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      label{
        text-align: center;
      }
    }
  }
}



