// ============ transitions

//========== mixins
@mixin error-text {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
  transform:translateY(-0.5rem);
  
}

@mixin item-list-paddings {
  padding: 0.5rem 0.1rem;
  margin-bottom: 0.2rem;
  
}