// ============ transitions

//========== mixins
@mixin error-text {
  color:#af0000;
  font-size: 0.8rem;
  font-weight: bold;
  transform:translateY(-0.5rem);
  
}

@mixin item-list-paddings {
  // padding: 0.3rem 0.1rem;
  margin-bottom: 0.2rem;
  margin-right: 0.4rem;
  
}