@import "../shared/styles/variables.scss";
.header{
  // @media( min-width:992px ){
  //   max-width: 992px;
  // }
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &__logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem;
    user-select: none;
    img{
      height: 8rem;
      width: 8rem;
      margin-right: 2rem;
    }
    .caption{ 
      width: 15rem;
      color: $font-color-dark;
      font-weight: 600;
      font-size: 3rem;
    }
  }

  &__menu{

  }

  &__user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    width: 30rem;
    margin-right: 1rem;
    &__hide{
      transform: translateX(200px);
      transition: transform 300ms;
    }
  }  
}


.userInfoTransition-enter {
  opacity: 0.01;
}

.userInfoTransition-enter.userInfoTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.userInfoTransition-leave {
  opacity: 1;
}

.userInfoTransition-leave.userInfoTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.userInfoTransition-appear {
  opacity: 0.01;
}

.userInfoTransition-appear.userInfoTransition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}