@import "../shared/styles/variables.scss";
.header{

  // @media( min-width:992px ){
  //   max-width: 992px;
  // }

  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &__logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    // width: 22rem;
    
    margin: 1rem;
    img{
      height: 8rem;
      width: 8rem;
      margin-right: 2rem;
    }
    .caption{ 
      width: 15rem;
      color: $font-color-dark;
      font-weight: 600;
      font-size: 3rem;
    }

  }

  &__menu{
    font-weight: 600;
    color: $font-color-light;
    text-shadow: -1px 1px 2px black;

  }
}