
.items-block {


  .item-narrow{
    width:3rem;
  }
  .item-medium{
    width:7rem;
  }
  .item-wide{
    width:10rem;
  }

  .items-list__add-item{
    margin-bottom: 1rem;
    input{
      padding: 0.5rem;
    }
    button{
      padding: 0.5rem;
    }
  }
}