
.items-list {


  .item-narrow{
    width:3rem;
  }
  .item-medium{
    width:7rem;
  }
  .item-wide{
    width:15rem;
  }

  &__head{
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 1rem;
    &-element{
      display: inline-block;    
    }
  }

  &__add-item{
    margin-bottom: 1rem;
    input{
      padding: 0.5rem;
    }
    button{
      padding: 0.5rem;
    }
  }
}